{% extends 'catalog/base.html' %}
{% load static %}
{% block content %}
<div class="col-12 mb-5 text-center mt-3">
    {% if user.is_authenticated %}
    <a class="link-secondary" style="text-align: center;"
       href="{% url 'mailing:mailing_create' %}">
        <img src="{% static 'catalog/svg/plus-square.svg' %}" alt="Icon">
    </a>
    {% endif %}
</div>
{% for object in object_list %}
<div class="container">
    <div class="row text-start">
        <div class="col-lg-5 col-md-6 col-sm-12">
            <div class="card mb-4 box-shadow">
                {% include 'mailing/includes/inc_mailing.html' %}
                <div class="card-body">
                    <div class="card-title fs-6">
                        <p>Начало рассылки: {{ object.start_time }}</p>
                        <p>Период: {{ object.get_frequency_display }}</p>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}