{% extends "catalog/base.html" %}
{% load static %}
{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center"></div>
<div class="container">
    <div class="row text-start">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    {% include 'mailing/includes/inc_mailing_detail.html' %}
                    <h4 class="my-0 font-weight-normal">Рассылка</h4>
                </div>
                <div class="card-body">
                    <p>
                        Начало: {{ object.start_time }}
                    </p>
                    <hr>
                    <p>
                        Конец: {{ object.end_time }}
                    </p>
                    <hr>
                    <p>
                        Период: {{ object.get_frequency_display }}.
                    </p>
                    <hr>
                    <p>
                        Статус: {{ object.get_status_display }}.
                    </p>
                    <hr>
                    <p>
                        Контент: "{{ object.message }}".
                    </p>
                    {% if object.logs %}
                    <hr>
                    <p>
                        <img src="{% static 'catalog/svg/calendar-check.svg' %}" alt="Icon">
                    </p>
                    <p>
                    Отправлено: {{ object.logs.date }}
                    <hr>
                    Статус: {{ object.logs.get_attempt_status_display }}
                    <hr>
                    Ответ почтового сервиса: {{ object.logs.mail_server_response }}
                    </p>
                    {% endif %}
                </div>
                <div class="card-footer">
                    <a class="btn btn-md" style="background-color: #2F4F4F;"
                       href="{% url 'mailing:mailing_list' %}">
                        Назад
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}