{% load static %}
{% load custom_tags %}
<!-- Код карусели -->
<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    {% for object in object_list %}
    <div class="carousel-inner">
        <div class="carousel-item
            {% if forloop.last %}
                active
            {% endif %}">
            <a href="{% url 'catalog:goods' object.pk %}">
                <img src="{% mediapath object.image %}" class="d-block w-100" aria-hidden="true"></a>
            <div class="container">
                <div class="carousel-caption text-start text-white text-bg">
                    <h1>{{ object|title }}</h1>
                    <p class="opacity-75 badge bg-body-secondary text-wrap content md-1" style="overflow: hidden;">
                        {{ object.description }}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
    {% endfor %}
</div>
<!-- Конец карусели -->