{% load static %}
{% include 'catalog/includes/inc_catalog_headdata.html' %}
<!-- Верхнее меню -->
<nav class="navbar navbar-expand-md bg-dark sticky-top border-bottom" data-bs-theme="dark">
    <div class="container">
        <a class="navbar-brand d-md-none" href="#">
            <svg class="bi" width="24" height="24">
                <use xlink:href="#aperture"/>
            </svg>
            Aperture
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas"
                aria-controls="#offcanvas" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="#offcanvas" aria-labelledby="#offcanvasLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="#offcanvasLabel">Aperture</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav flex-grow-1 justify-content-between">
                    <li class="nav-item"><a class="nav-link" href="{% url 'catalog:main' %}">Главная</a></li>
                    {% if user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'mailing:mailing_list' %}">
                        <img src="{% static 'catalog/svg/alarm.svg' %}" alt="Icon"></a></li>
                    {% endif %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'catalog:categories' %}">Жанры</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">
                        <img src="{% static 'catalog/svg/balloon-heart.svg' %}" alt="Icon"></a></li>
                    {% if user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'catalog:blog_list' %}">Блог</a></li>
                    {% endif %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'catalog:contact' %}">Контакты</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">
                        <img src="{% static 'catalog/svg/cart.svg' %}" alt="Icon"></a></li>
                    {% if user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'users:profile' %}">Профиль</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'users:logout' %}">Выход</a></li>
                    {% else %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'users:login' %}">Вход</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'users:register' %}">Регистрация</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</nav>
{% block content %}
{% endblock %}
<!-- Нижний блок -->
<footer class="container py-5">
    <div class="row">
        <div class="col-12 col-md">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                 stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                 stroke-width="2" class="d-block mb-2" role="img" viewBox="0 0 24 24">
                <title>{{ title }}</title>
                <circle cx="12" cy="12" r="10"/>
                <path d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94"/>
            </svg>
            <small class="d-block mb-3 text-body-secondary">&copy; 2023 – {% now 'Y' %}</small>
        </div>
        <div class="col-6 col-md">
            <h5>Игры</h5>
            <ul class="list-unstyled text-small">
                <li><a class="link-secondary text-decoration-none" href="#">Лучшее</a></li>
                <li><a class="link-secondary text-decoration-none" href="{% url 'catalog:categories' %}">Жанры</a></li>
                <li><a class="link-secondary text-decoration-none" href="#">Издатели</a></li>
                <li><a class="link-secondary text-decoration-none" href="#">Разработчики</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>Дополнительно</h5>
            <ul class="list-unstyled text-small">
                <li><a class="link-secondary text-decoration-none" href="#">Гарантия</a></li>
                <li><a class="link-secondary text-decoration-none" href="#">Доставка</a></li>
                <li><a class="link-secondary text-decoration-none" href="#">Подарочные карты</a></li>
                <li><a class="link-secondary text-decoration-none" href="#">Продукты для гейминга</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>О нас</h5>
            <ul class="list-unstyled text-small">
                <li><a class="link-secondary text-decoration-none" href="#">О нас</a></li>
                {% if user.is_authenticated %}
                <li><a class="link-secondary text-decoration-none" href="{% url 'catalog:blog_list' %}">Наш блог</a></li>
                <li><a class="link-secondary text-decoration-none" href="{% url 'mailing:mailing_list' %}">Рассылка</a></li>
                {% endif %}
                <li><a class="link-secondary text-decoration-none" href="{% url 'catalog:contact' %}">Контакты</a></li>
                <li><a class="link-secondary text-decoration-none" href="#">Служба поддержки</a></li>
            </ul>
        </div>
    </div>
</footer>
<script src="{% static 'catalog/js/bootstrap.bundle.min.js' %}"
        src="{% static 'catalog/js/like.js' %}"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous">
</script>
</body>
</html>