{% load static %}
{% include 'catalog/includes/inc_catalog_headdata.html' %}
<!-- Верхнее меню -->
<nav class="navbar navbar-expand-md bg-dark sticky-top border-bottom" data-bs-theme="dark">
    <div class="container">
        <a class="navbar-brand d-md-none" href="#">
            <svg class="bi" width="24" height="24">
                <use xlink:href="#aperture"/>
            </svg>
            Aperture
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas"
                aria-controls="#offcanvas" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="#offcanvas" aria-labelledby="#offcanvasLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="#offcanvasLabel">Aperture</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav flex-grow-1 justify-content-between">
                    <li class="nav-item"><a class="nav-link" href="{% url 'catalog:main' %}">Главная</a></li>
                    {% if user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'mailing:mailing_list' %}">Рассылки</a></li>
                    {% endif %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'catalog:categories' %}">Жанры</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                             class="bi bi-balloon-heart" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                  d="m8 2.42-.717-.737c-1.13-1.161-3.243-.777-4.01.72-.35.685-.451 1.707.236 3.062C4.16 6.753 5.52 8.32 8 10.042c2.479-1.723 3.839-3.29 4.491-4.577.687-1.355.587-2.377.236-3.061-.767-1.498-2.88-1.882-4.01-.721L8 2.42Zm-.49 8.5c-10.78-7.44-3-13.155.359-10.063.045.041.089.084.132.129.043-.045.087-.088.132-.129 3.36-3.092 11.137 2.624.357 10.063l.235.468a.25.25 0 1 1-.448.224l-.008-.017c.008.11.02.202.037.29.054.27.161.488.419 1.003.288.578.235 1.15.076 1.629-.157.469-.422.867-.588 1.115l-.004.007a.25.25 0 1 1-.416-.278c.168-.252.4-.6.533-1.003.133-.396.163-.824-.049-1.246l-.013-.028c-.24-.48-.38-.758-.448-1.102a3.177 3.177 0 0 1-.052-.45l-.04.08a.25.25 0 1 1-.447-.224l.235-.468ZM6.013 2.06c-.649-.18-1.483.083-1.85.798-.131.258-.245.689-.08 1.335.063.244.414.198.487-.043.21-.697.627-1.447 1.359-1.692.217-.073.304-.337.084-.398Z"/>
                        </svg>
                    </a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'catalog:blog_list' %}">Блог</a></li>
                    {% endif %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'catalog:contact' %}">Контакты</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">
                        <svg class="bi" width="24" height="24">
                            <use xlink:href="#cart"/>
                        </svg>
                    </a></li>
                    {% if user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'users:profile' %}">Профиль</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'users:logout' %}">Выход</a></li>
                    {% else %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'users:login' %}">Вход</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'users:register' %}">Регистрация</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</nav>
{% block content %}
{% endblock %}
<!-- Нижний блок -->
<footer class="container py-5">
    <div class="row">
        <div class="col-12 col-md">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                 stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                 stroke-width="2" class="d-block mb-2" role="img" viewBox="0 0 24 24">
                <title>{{ title }}</title>
                <circle cx="12" cy="12" r="10"/>
                <path d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94"/>
            </svg>
            <small class="d-block mb-3 text-body-secondary">&copy; 2023 – {% now 'Y' %}</small>
        </div>
        <div class="col-6 col-md">
            <h5>Игры</h5>
            <ul class="list-unstyled text-small">
                <li><a class="link-secondary text-decoration-none" href="#">Лучшее</a></li>
                <li><a class="link-secondary text-decoration-none" href="{% url 'catalog:categories' %}">Жанры</a></li>
                <li><a class="link-secondary text-decoration-none" href="#">Издатели</a></li>
                <li><a class="link-secondary text-decoration-none" href="#">Разработчики</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>Дополнительно</h5>
            <ul class="list-unstyled text-small">
                <li><a class="link-secondary text-decoration-none" href="#">Гарантия</a></li>
                <li><a class="link-secondary text-decoration-none" href="#">Доставка</a></li>
                <li><a class="link-secondary text-decoration-none" href="#">Подарочные карты</a></li>
                <li><a class="link-secondary text-decoration-none" href="#">Продукты для гейминга</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>О нас</h5>
            <ul class="list-unstyled text-small">
                <li><a class="link-secondary text-decoration-none" href="#">О нас</a></li>
                {% if user.is_authenticated %}
                <li><a class="link-secondary text-decoration-none" href="{% url 'catalog:blog_list' %}">Наш блог</a></li>
                <li><a class="link-secondary text-decoration-none" href="{% url 'mailing:mailing_list' %}">Рассылка</a></li>
                {% endif %}
                <li><a class="link-secondary text-decoration-none" href="{% url 'catalog:contact' %}">Контакты</a></li>
                <li><a class="link-secondary text-decoration-none" href="#">Служба поддержки</a></li>
            </ul>
        </div>
    </div>
</footer>
<script src="{% static 'catalog/js/bootstrap.bundle.min.js' %}"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous">
</script>
</body>
</html>