{% extends 'catalog/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center"></div>
<div class="container">
    <div class="row text-start">
        <div class="col-lg-12 col-md-6 col-sm-12">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Создать или изменить запись</h4>
                </div>
                <div class="card-body">
                    <form method="POST" class="form-floating" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="mb-3">
                            {{ form|crispy }}
                        </div>
                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-lg btn-success">
                                {% if object %}
                                Сохранить
                                {% else %}
                                Создать
                                {% endif %}
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}