{% extends 'catalog/base.html' %}
{% load custom_filter %}
{% block content %}
{% include 'catalog/includes/inc_catalog_categories.html' %}
<div class="container marketing my-md-3 ps-md-3 d-md-flex">
    <div class="row">
        {% for object in object_list %}
        <div class="col-lg-6 col-md-4">
            <img class="bd-placeholder-img border border-white shadow-lg rounded-circle"
                 width="140" height="140" src="{{ object.image|mediapath }}" alt="Placeholder">
            <h2 class="fw-normal">{{ object|title }}</h2>
            <p>{{ object.description|slice:100 }}</p>
            <p><a class="btn" style="background-color: #2F4F4F;"
                  href="{% url 'catalog:goods' object.pk %}">Весь список</a></p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
