{% extends 'catalog/base.html' %}
{% load static %}
{% load custom_filter %}
{% block content %}
<div class="col-12 mx-1 px-2 py-2 md-1">
    <a class="btn btn-md" type="button" href="{% url 'catalog:categories' %}">
        <img src="{% static 'catalog/svg/arrow-left.svg' %}" alt="Icon"></a>
</div>
<div class="col-12 mb-5 text-center mt-3">
    {% if not user|has_group:"Модератор" %}
    <a class="link-secondary" style="text-align: center;"
       href="{% url 'catalog:create_product' category.id %}">
        <img src="{% static 'catalog/svg/plus-square.svg' %}" alt="Icon">
    </a>
    {% endif %}
</div>
<div class="row mb-2 mx-3 px-3">
    {% for object in object_list %}
    <div class="col-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            {% include 'catalog/includes/inc_catalog_product.html' %}
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-emphasis">{{ category|title }}</strong>
                <h4 class="mb-0">{{ object.title }}</h4>
                <div class="mb-1 text-body-secondary">Price: {{ object.price }}</div>
                <div class="mb-1 text-body-secondary">Связаться: {{ object.creator.first_name|default:"Скрыто" }}</div>
                <p class="card-text mb-auto">{{ object.description|slice:120 }}</p>
            </div>
            <div class="col-auto mx-2 px-2" style="padding-top: 25px;">
                <a href="{% url 'catalog:product' object.pk %}">
                <img class="border-gradient border-gradient-purple border rounded border-3" width="200" height="260"
                     src="{{ object.image|mediapath }}" alt="Photo"></a>
            </div>
            <div class="card-footer mb-3 ml-3" style="padding-left: 20px;">
            </div>
            <div class="card-footer mb-3 mr-3" style="padding-left: 20px;">
                {% if object.active_version %}
                {{ object.active_version }}
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}