{% extends 'catalog/base.html' %}
{% load static %}
{% block content %}
<div class="col-12 mx-1 px-1 py-1" style="padding-left: 100px;">
    <a class="btn btn-md" type="button" href="{% url 'catalog:goods' object.category_id %}">
        <img src="{% static 'catalog/svg/arrow-left.svg' %}" alt="Icon"></a>
</div>
<div class="row mb-2 mt-5 mx-5 px-2">
    <div class="col-12">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            {% include 'catalog/includes/inc_catalog_product_detail.html' %}
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-emphasis">{{ object|title }}</strong>
                <h4 class="mb-0">{{ object.title }}</h4>
                <div class="mb-1 text-body-secondary">Price: $ {{ object.price }}</div>
                <p class="card-text mb-auto">{{ object.description }}</p>
                <p class="card-text mb-auto">
                    Актуальна версия:
                    {% if object.active_version %}
                    {{ object.active_version }}
                    {% endif %}
                </p>
                {% if user.is_authenticated %}
                <a class="btn btn-md mb-3" style="background-color: #2F4F4F;" href="#" role="button">
                    В корзину
                </a>
                {% endif %}
            </div>
            <div class="col-auto d-none d-lg-block mx-3 px-2" style="padding-top: 25px; padding-bottom: 25px;">
                <div class="border-gradient border-gradient-purple border rounded border-3">
                    <img class="bd-placeholder-img img-fluid" width="280" height="340"
                         style="max-width: 100%; max-height: 100%;"
                         src="/media/{{ object.image }}" alt="Photo">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
