{% extends 'catalog/base.html' %}
{% load crispy_forms_tags %}
{% load custom_filter %}
{% block content %}
<div class="col-lg-12">
    <form method="post" enctype="multipart/form-data">
        <div class="col-lg-6 mx-4" style="padding-top: 30px; padding-bottom: 10px;">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title text-center">
                        Добавление товара
                    </h3>
                </div>
                <div class="card-body">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-md" style="background-color: #2F4F4F;">
                        {% if object %}
                        Сохранить
                        {% else %}
                        Создать
                        {% endif %}
                    </button>
                </div>
                <div class="card-footer">
                </div>
            </div>
        </div>
        {% if user|has_group:"Модератор" %}
        <div class="col-lg-4 mx-4" style="padding-top: 10px; padding-bottom: 10px; padding-left: 20px;">
            <a class="btn btn-md btn-warning"
               href="{% url 'catalog:goods' object.category_id %}"
               role="button">
                Назад
            </a>
        </div>
        {% else %}
        <div class="col-lg-4 mx-4" style="padding-top: 30px; padding-bottom: 10px;">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title text-center">
                        Версии товара
                    </h3>
                </div>
                <div class="card-body">
                    {{ formset.management_form }}
                    {% for form in formset.forms %}
                    {{ form|crispy }}
                    {% if not forloop.last %}
                    <hr>
                    <hr>
                    {% endif %}
                    {% endfor %}
                </div>
                <div class="card-footer"></div>
            </div>
        </div>
        {% endif %}
    </form>
</div>
{% endblock %}